
@import "./base/Font-face.scss";
@import "./base/Css_global.scss";
@import "./utils/Variable.scss";
@import "./utils/mixins.scss";
@import "./utils/keyframes.scss";
@import "./layout/BEM_elements.scss";


article {
    display: flex;
    flex-direction: column;
    img
    {
        object-fit: cover;
        width: 100%;
        height: 250px;
    }
    .menu
    {
        display: flex;
        flex-direction: column;
        background-color: $light-background;
        margin-top: -40px;
        border-radius: 18px 18px 0 0;
        padding-bottom: 30px;
        width: 100%;
        &__titre {
            height: 50px;
            margin: 20px auto 0 auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            @include apparition__block--top;
            @include responsiv__menu__title;
            h1 {
                font-family: 'Shrikhand';
                font-size: 130%;
            }
            .variation__vignette 
            {
                box-sizing: content-box;
            }
        }
        &__block {
            width: 90%;
            max-width: 400px;
            margin: auto;
            display: flex;
            flex-wrap: wrap;
            h2 {
                font-size: 90%;
                font-weight: 400;
                margin: 10px 0 10px 0;
                display: flex;
                flex-direction: column;
                &::after {
                    content: "";
                    width: 35px;
                    height: 3px;
                    background-color: #99E2D0;
                }
            }
            &__vignette {
                @include vignette__menu;
                margin: 5px 0 5px 0;
                display: flex;
                cursor: pointer;
                width: 100%;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                @include apparition__block--top;
                &:hover {
                   @include hidden__menu--hover;
                }
                .hiden__menu {
                    @include hidden__menu;
                }
                strong {
                    font-family: 'Roboto--Medium';
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                &__text {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    padding: 0 15px 0 15px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    &__descriptif {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        h4 {
                            font-size: 1em;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                        p {
                            font-weight: bold;
                            font-size: 1em;
                            margin: 0 5px 0 5px;
                        }
                    }
                }
            }
        }
        &__boutton {
            display: flex;
            justify-content: space-around;
            margin: 30px 0 25px 0;
            a {
                @include gradient-button;
                &:hover {
                    @include gradient--hover;
                }
            }
        }
    }
}

