
@import "./base/Font-face.scss";
@import "./base/Css_global.scss";
@import "./utils/Variable.scss";
@import "./utils/mixins.scss";
@import "./layout/BEM_elements.scss";


/* SECTION */

header {

    .Menu__lien {
        display: none;
        #icone_-fleche
        {
            display: none;
        }
    }
}

/* Barre localisation */

.localisation{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px;
    width: 100%;
    background-color: $dark-background;
    box-shadow: inset 0px 5px 6px -5px black;
    & h3 {
        font-size: 90%;
        i {
            padding: 0 10px 0 0;
            size: 50%;
        }
    }
}

/* block informations */

.section__information
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 100%;
    background-color: $light-background;
    padding: 25px 0 25px 0;
    & h1{
        display: flex;
        justify-content: space-around ;
        width: 70%;
        margin: 10px 0 10px 0;
    }
    & h4{
        width: 70%;
        margin: 10px 0 10px 0;
    }
    & button
    {
        @include gradient-button;
        font-family: 'Roboto--Medium';
        margin: 10px 0 10px 0;
    }
}


/* ASIDE */


aside
{
    display: flex;
    flex-direction: column;
    margin: 20px 0 20px 0;
    & h1 {
        width: 95%;
        margin: auto;
    }
    .fonctionnement {

        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        .fonctionnement__row{
            display: flex;
            align-items: center;
            width: 95%;
            max-width: 400px;
            height: 50px;
            margin: 10px;
            @include vignette__border--color($light-background);
            & p {
                width: 16px;
                height: 16px;
                display: flex;
                justify-content: space-around;
                padding: 1px;
                margin-left: -7px;
                border-radius: 15px;
                background-color: #9356DC;
                color: white;
            }
            & i {
                width: 10%;
                display: flex;
                justify-content: center;
                
            }
            & h2 {
                width: 80%;
                margin: 15px;
            }
        }
    }
}




article{
    background-color: $light-background;
    & h1 {
        width: 95%;
        margin: auto;
    }
    .article__organisation {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 100%;
        .vignette__restaurant {
            z-index: auto;
            min-width: 300px;
            max-width: 400px;
            height: 200px;
            display: flex;
            justify-items: center;
            box-sizing: content-box;
            flex-direction: column;
            margin: 2%;
            padding: 0;
            @include vignette__border--color($white-background);
            & img{
                position: relative;
                z-index: auto;
                object-fit: cover;
                width: 100%;
                height: 75%;
                border-radius: 18px 18px 0 0;
            }
            .vignette__restaurant__text {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding:5px 10px 0 10px;
                height: 20%;
            }
        }
    }
}


