

/* HEADER REUTILISABLE */


header
{
    display: flex;
    align-items: center;
    justify-content:space-around ;
    width: 100%;
    height: 70px;
    a {
        position: absolute;
        left: 20px;
        width: 15px;
        color: black;
    }
    h1 {
        @include titre__logo;
        text-align: center;
        margin: 10px 0 10px 0;
        box-sizing: content-box;
    }
}


/* FOOTER REUTILISABLE */


footer
{
    width: 100%;
    background-color: $black-background;
    color: white;
    @include footer__responsiv;
    p {
    @include titre__logo;
    font-size: 1.5em;
    padding: 15px 0 10px 15px;
    }
    ul {
        font-family: 'Roboto--Light';
        list-style: none;
        padding: 0 0 15px 15px;
        line-height: 30px;
        width: 100%;
        li {
           width: 200px;     
            a {
                color: white;
                text-decoration: none;
                font-weight: 500;
            }
            i {
                margin : 0 5px 0 0;
                width: 20px;
            }
        }
    }
}
