@font-face {
  font-family: "Roboto--Bold";
  src: url(sass/base/Police/Roboto-Bold.ttf);
}
@font-face {
  font-family: "Roboto--Thin";
  src: url(sass/base/Police/Roboto-Thin.ttf);
}
@font-face {
  font-family: "Roboto--Medium";
  src: url(sass/base/Police/Roboto-Medium.ttf);
}
@font-face {
  font-family: "Shrikhand";
  src: url(sass/base/Police/Shrikhand-Regular.otf);
}
@font-face {
  font-family: "Roboto--Light";
  src: url(sass/base/Police/Roboto-Light.ttf);
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Roboto--Bold";
  font-size: 2em;
}

h2 {
  font-family: "Roboto--Medium";
  font-size: 1em;
}

h3 {
  font-family: "Roboto--Medium";
}

h4 {
  font-family: "Roboto--Thin";
}

p {
  font-family: "Roboto--Light";
  font-size: 80%;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: black;
}

/* Variable couleur */
/* Charte graphique color */
/* background */
/* HEADER REUTILISABLE */
header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 70px;
}
header a {
  position: absolute;
  left: 20px;
  width: 15px;
  color: black;
}
header h1 {
  font-family: "Shrikhand";
  text-align: center;
  margin: 10px 0 10px 0;
  box-sizing: content-box;
  font-size: 2.5em;
  font-weight: 500;
}

/* FOOTER REUTILISABLE */
footer {
  width: 100%;
  background-color: #3E3E3E;
  color: white;
}
footer h1 {
  font-family: "Shrikhand";
  font-size: 1.5em;
  padding: 15px 0 10px 15px;
  font-weight: 500;
}
footer ul {
  font-family: "Roboto--Light";
  list-style: none;
  padding: 0 0 15px 15px;
  line-height: 30px;
  width: 100%;
}
footer ul li {
  width: 200px;
}
footer ul li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}
footer ul li i {
  margin: 0 5px 0 0;
  width: 20px;
}

@media screen and (min-width: 500px) {
  footer footer h1 {
    text-align: center;
    display: flex;
    justify-content: space-around;
  }
  footer footer ul {
    display: flex;
    justify-content: space-around;
  }
}
article {
  display: flex;
  flex-direction: column;
}
article img {
  object-fit: cover;
  width: 100%;
  height: 250px;
}
article .menu {
  display: flex;
  flex-direction: column;
  background-color: #F0F0F0;
  margin-top: -40px;
  border-radius: 18px 18px 0 0;
  padding-bottom: 30px;
  width: 100%;
}
article .menu__titre {
  width: 85%;
  height: 50px;
  margin: 20px auto 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
article .menu__titre h1 {
  font-family: "Shrikhand";
  font-size: 150%;
}
article .menu__titre i {
  width: 50px;
  display: flex;
  justify-content: flex-start;
  font-size: 2em;
}
article .menu__block {
  width: 90%;
  max-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
article .menu__block h2 {
  font-size: 90%;
  font-weight: 400;
  margin: 10px 0 10px 0;
  display: flex;
  flex-direction: column;
}
article .menu__block h2::after {
  content: "";
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
}
article .menu__block__vignette {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 400px;
  height: 70px;
  padding: 10px 15px 10px 15px;
  border-radius: 15px;
  box-shadow: 5px 5px 15px -2px rgba(0, 0, 0, 0.2);
  background-color: white;
  border: none;
  margin: 5px 0 5px 0;
}
article .menu__block__vignette strong {
  font-family: "Roboto--Medium";
}
article .menu__block__vignette__descriptif {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
article .menu__block__vignette__descriptif h4 {
  font-size: 0.8em;
}
article .menu__block__vignette__descriptif p {
  font-weight: bold;
}
article .menu__boutton {
  display: flex;
  justify-content: space-around;
  margin: 30px 0 25px 0;
}
article .menu__boutton button {
  width: 200px;
  height: 40px;
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border-radius: 25px;
  color: white;
  border: none;
  box-shadow: 5px 5px 15px -2px rgba(0, 0, 0, 0.2);
  font-family: "Roboto--Medium";
  font-size: 0.8em;
}
article .menu__boutton button:hover {
  opacity: 0.8;
  transition: 0.3s;
  box-shadow: 5px 5px 17px -4px #050505;
}

/*# sourceMappingURL=menu.css.map */
