@font-face {
  font-family: "Roboto--Bold";
  src: url(sass/base/Police/Roboto-Bold.ttf);
}
@font-face {
  font-family: "Roboto--Thin";
  src: url(sass/base/Police/Roboto-Thin.ttf);
}
@font-face {
  font-family: "Roboto--Medium";
  src: url(sass/base/Police/Roboto-Medium.ttf);
}
@font-face {
  font-family: "Shrikhand";
  src: url(sass/base/Police/Shrikhand-Regular.otf);
}
@font-face {
  font-family: "Roboto--Light";
  src: url(sass/base/Police/Roboto-Light.ttf);
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  max-width: 1500px;
  margin: auto;
}

h1 {
  font-family: "Roboto--Bold";
  font-size: 2em;
}

h2 {
  font-family: "Roboto--Medium";
  font-size: 1em;
}

h3 {
  font-family: "Roboto--Medium";
}

h4 {
  font-family: "Roboto--Thin";
}

p {
  font-family: "Roboto--Light";
  font-size: 80%;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: black;
}

/* Variable couleur */
/* Charte graphique color */
/* background */
/* MIXIN RESPONSIV */
@keyframes apparition__top {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes runing_page {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes animation__active__full {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  90% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes animation__hover__light {
  0% {
    transform: scale(100%);
  }
  49% {
    transform: scale(0);
  }
  50% {
    display: none;
  }
  100% {
    display: none;
  }
}
/* HEADER REUTILISABLE */
header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 70px;
}
header a {
  position: absolute;
  left: 20px;
  width: 15px;
  color: black;
}
header h1 {
  font-family: "Shrikhand";
  text-align: center;
  margin: 10px 0 10px 0;
  box-sizing: content-box;
  font-size: 2.5em;
  font-weight: 500;
}

/* FOOTER REUTILISABLE */
footer {
  width: 100%;
  background-color: #3E3E3E;
  color: white;
}
footer h1 {
  font-family: "Shrikhand";
  font-size: 1.5em;
  padding: 15px 0 10px 15px;
  font-weight: 500;
}
footer ul {
  font-family: "Roboto--Light";
  list-style: none;
  padding: 0 0 15px 15px;
  line-height: 30px;
  width: 100%;
}
footer ul li {
  width: 200px;
}
footer ul li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}
footer ul li i {
  margin: 0 5px 0 0;
  width: 20px;
}

@media screen and (min-width: 500px) {
  footer footer h1 {
    text-align: center;
    display: flex;
    justify-content: space-around;
  }
  footer footer ul {
    display: flex;
    justify-content: space-around;
  }
}
article {
  display: flex;
  flex-direction: column;
}
article img {
  object-fit: cover;
  width: 100%;
  height: 250px;
}
article .menu {
  display: flex;
  flex-direction: column;
  background-color: #F0F0F0;
  margin-top: -40px;
  border-radius: 18px 18px 0 0;
  padding-bottom: 30px;
  width: 100%;
}
article .menu__titre {
  height: 50px;
  margin: 20px auto 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation-name: apparition__top;
  animation-duration: 1.5s;
}
@media screen and (min-width: 769px) {
  article .menu__titre {
    width: 35%;
  }
}
@media screen and (max-width: 500px) {
  article .menu__titre {
    width: 85%;
  }
}
@media screen and (min-width: 501px) and (max-width: 768px) {
  article .menu__titre {
    width: 50%;
  }
}
article .menu__titre h1 {
  font-family: "Shrikhand";
  font-size: 130%;
}
article .menu__titre .variation__vignette {
  box-sizing: content-box;
}
article .menu__block {
  width: 90%;
  max-width: 400px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
article .menu__block h2 {
  font-size: 90%;
  font-weight: 400;
  margin: 10px 0 10px 0;
  display: flex;
  flex-direction: column;
}
article .menu__block h2::after {
  content: "";
  width: 35px;
  height: 3px;
  background-color: #99E2D0;
}
article .menu__block__vignette {
  display: flex;
  max-width: 400px;
  height: 70px;
  border-radius: 15px;
  box-shadow: 5px 5px 15px -2px rgba(0, 0, 0, 0.2);
  background-color: white;
  border: none;
  margin: 5px 0 5px 0;
  display: flex;
  cursor: pointer;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  animation-name: apparition__top;
  animation-duration: 1.5s;
}
article .menu__block__vignette:hover .hiden__menu {
  transition: 0.4s;
  width: 100px;
  opacity: 1;
}
article .menu__block__vignette:hover .hiden__menu i {
  transform: rotate(360deg);
  transition: 0.5s;
}
article .menu__block__vignette .hiden__menu {
  display: flex;
  border-radius: 0 15px 15px 0;
  text-align: center;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  font-size: 1.5em;
  background: #99E2D0;
  width: 0;
  opacity: 0;
  color: white;
}
article .menu__block__vignette strong {
  font-family: "Roboto--Medium";
  overflow: hidden;
  text-overflow: ellipsis;
}
article .menu__block__vignette__text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 15px 0 15px;
  overflow: hidden;
  text-overflow: ellipsis;
}
article .menu__block__vignette__text__descriptif {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
article .menu__block__vignette__text__descriptif h4 {
  font-size: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
}
article .menu__block__vignette__text__descriptif p {
  font-weight: bold;
  font-size: 1em;
  margin: 0 5px 0 5px;
}
article .menu__boutton {
  display: flex;
  justify-content: space-around;
  margin: 30px 0 25px 0;
}
article .menu__boutton a {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
  height: 40px;
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border-radius: 25px;
  color: white;
  border: none;
  box-shadow: 5px 5px 15px -2px rgba(0, 0, 0, 0.2);
  font-family: "Roboto--Medium";
  cursor: pointer;
  font-size: 0.8em;
  transition: all;
}
article .menu__boutton a:hover {
  opacity: 0.8;
  transition: 0.3s;
  transform: scale(1.15);
}

/*# sourceMappingURL=menu.css.map */
