@font-face {
  font-family: "Roboto--Bold";
  src: url(sass/base/Police/Roboto-Bold.ttf);
}
@font-face {
  font-family: "Roboto--Thin";
  src: url(sass/base/Police/Roboto-Thin.ttf);
}
@font-face {
  font-family: "Roboto--Medium";
  src: url(sass/base/Police/Roboto-Medium.ttf);
}
@font-face {
  font-family: "Shrikhand";
  src: url(sass/base/Police/Shrikhand-Regular.otf);
}
@font-face {
  font-family: "Roboto--Light";
  src: url(sass/base/Police/Roboto-Light.ttf);
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  max-width: 2000px;
  margin: auto;
}

h1 {
  font-family: "Roboto--Bold";
  font-size: 2em;
}

h2 {
  font-family: "Roboto--Medium";
  font-size: 1em;
}

h3 {
  font-family: "Roboto--Medium";
}

h4 {
  font-family: "Roboto--Thin";
}

p {
  font-family: "Roboto--Light";
  font-size: 80%;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: black;
}

input {
  font-family: "Roboto--Medium";
}

/* Variable couleur */
/* Charte graphique color */
/* background */
/* LOADER MENU */
/* MIXINS OUTILS */
/* Gradient button */
/* Mixins outils pour creation de vignette */
/* Mixin vignette pour nouveau restaurant */
/* MIXIN ANIMATION MENU */
/* MIXIN ANNIMATION HEART */
/* MIXIN RESPONSIV */
/* responsiv title - icone menu */
/* MIXIN DELAY VIGNETTE */
/* Menu */
/* MIXIN EUUH... FLEME ? */
/* HEADER REUTILISABLE */
header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 70px;
}
header a {
  position: absolute;
  left: 20px;
  width: 15px;
  color: black;
}
header h1 {
  font-family: "Shrikhand";
  font-size: 2.5em;
  font-weight: 500;
  text-align: center;
  margin: 10px 0 10px 0;
  box-sizing: content-box;
}

/* FOOTER REUTILISABLE */
footer {
  width: 100%;
  background-color: #3E3E3E;
  color: white;
}
@media screen and (min-width: 768px) {
  footer h1 {
    display: flex;
    text-align: center;
    justify-content: space-around;
  }
  footer ul {
    display: flex;
    justify-content: space-around;
  }
  footer ul li {
    display: flex;
    justify-content: space-around;
  }
}
footer h1 {
  font-family: "Shrikhand";
  font-size: 2.5em;
  font-weight: 500;
  font-size: 1.5em;
  padding: 15px 0 10px 15px;
}
footer ul {
  font-family: "Roboto--Light";
  list-style: none;
  padding: 0 0 15px 15px;
  line-height: 30px;
  width: 100%;
}
footer ul li {
  width: 200px;
}
footer ul li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}
footer ul li i {
  margin: 0 5px 0 0;
  width: 20px;
}

/* KEYFRAMES APPARITION */
@keyframes apparition__top {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes apparition__restaurant__left {
  0% {
    transform: translateX(-30px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes apparition__restaurant__right {
  0% {
    transform: translateX(30px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
/* KEYFRAMES HEART ANIMATION */
@keyframes heart-fading--full {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes heart-fading--light {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes animation__active--full {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  90% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
/* ANIMATION LOADER */
@keyframes jump__shadow {
  33% {
    text-shadow: 0 30px #FF79DA, 0 60px #99E2D0;
  }
  50% {
    transform: translate(0, 0) rotate(-4deg);
    text-shadow: 0 0px #99E2D0, 0 0px #9356DC;
  }
  67% {
    text-shadow: 0 -30px #9356DC, 0 -60px #FF79DA;
  }
}
@keyframes loader__sortie {
  0% {
    z-index: 10;
    height: 100%;
    opacity: 1;
  }
  100% {
    height: 0%;
    opacity: 0;
    z-index: -1;
  }
}
/* LOADER */
.loader__background {
  width: 100%;
  height: 100%;
  opacity: 1;
  position: fixed;
  background-color: #3E3E3E;
  z-index: 10;
  display: flex;
  place-items: center;
  justify-content: center;
  animation: loader__sortie 1s ease forwards 4s;
}
.loader__background #loader__animation h1 {
  font-size: 1em;
  color: white;
}
.loader__background #loader__animation h1 span {
  margin: 2px;
  transform: scale(1);
  font-family: "Shrikhand";
  font-size: 2.5em;
  font-weight: 500;
  text-shadow: 0 0px #9356DC, 0 0px #FF79DA;
  transform: translate(0, 50%) rotate(4deg);
  animation: jump__shadow 3s ease-in-out infinite;
  display: inline-block;
}
.loader__background #loader__animation h1 span:nth-child(1) {
  animation-delay: 220ms;
}
.loader__background #loader__animation h1 span:nth-child(2) {
  animation-delay: 440ms;
}
.loader__background #loader__animation h1 span:nth-child(3) {
  animation-delay: 660ms;
}
.loader__background #loader__animation h1 span:nth-child(4) {
  animation-delay: 880ms;
}
.loader__background #loader__animation h1 span:nth-child(5) {
  animation-delay: 1100ms;
}
.loader__background #loader__animation h1 span:nth-child(6) {
  animation-delay: 1320ms;
}
.loader__background #loader__animation h1 span:nth-child(7) {
  animation-delay: 1540ms;
}
.loader__background #loader__animation h1 span:nth-child(8) {
  animation-delay: 1760ms;
}

header .Menu__lien {
  display: none;
}

/* Barre localisation */
.localisation {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100%;
  background-color: #E5E5E5;
  box-shadow: inset 0px 5px 6px -5px black;
}
.localisation i {
  padding: 2px;
}
.localisation input {
  box-sizing: content-box;
  font-weight: 500;
  font-size: 1em;
  background: #E5E5E5;
  text-align: center;
  margin-left: 2px;
  outline-style: none;
}

/* block informations */
.section__information {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 100%;
  background-color: #F0F0F0;
  padding: 25px 10px 25px 10px;
}
.section__information h1 {
  display: flex;
  justify-content: space-around;
  margin: 10px 0 10px 0;
}
.section__information h4 {
  margin: 10px 0 10px 0;
}
.section__information a {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
  height: 40px;
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border-radius: 25px;
  color: white;
  border: none;
  box-shadow: 5px 5px 15px -2px rgba(0, 0, 0, 0.2);
  font-family: "Roboto--Medium";
  cursor: pointer;
  font-size: 0.8em;
  transition: all;
  margin: 10px 0 10px 0;
}
.section__information a:hover {
  opacity: 0.8;
  transition: 0.3s;
  transform: scale(1.15);
  box-shadow: 5px 5px 15px -3px rgba(0, 0, 0, 0.7);
}

/* ASIDE */
aside {
  display: flex;
  flex-direction: column;
  margin: 20px 0 20px 0;
}
aside h1 {
  width: 90%;
  margin: auto;
}
aside .fonctionnement {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
aside .fonctionnement .fonctionnement__row {
  display: flex;
  align-items: center;
  width: 95%;
  max-width: 400px;
  height: 60px;
  margin: 10px;
  border-radius: 15px;
  box-shadow: 5px 5px 15px -2px rgba(0, 0, 0, 0.2);
  background-color: #F0F0F0;
  border: none;
}
aside .fonctionnement .fonctionnement__row:hover {
  background-color: #d7d7d7;
  transition: 0.3s;
}
aside .fonctionnement .fonctionnement__row:hover i {
  color: #9356DC;
}
aside .fonctionnement .fonctionnement__row p {
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: space-around;
  padding: 1px;
  margin-left: -7px;
  border-radius: 15px;
  background-color: #9356DC;
  color: white;
}
aside .fonctionnement .fonctionnement__row i {
  width: 10%;
  display: flex;
  justify-content: center;
  font-size: 1.1em;
  padding-left: 15px;
}
aside .fonctionnement .fonctionnement__row h2 {
  margin: 15px;
}

article {
  background-color: #F0F0F0;
  padding: 20px 0 20px 0;
}
article h1 {
  width: 90%;
  margin: auto;
}
article .article__organisation {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}
article .article__organisation .restaurant__vignette__card {
  border-radius: 15px;
  box-shadow: 5px 5px 15px -2px rgba(0, 0, 0, 0.2);
  background-color: white;
  border: none;
  width: 100%;
  min-width: 300px;
  max-width: 400px;
  height: 200px;
  display: flex;
  justify-items: center;
  flex-direction: column;
  padding: 0;
  margin: 15px;
}
article .article__organisation .restaurant__vignette__card::before {
  content: "Nouveau";
  position: relative;
  top: 7.5%;
  left: 70%;
  background-color: #99E2D0;
  color: #369976;
  font-family: "Roboto--Bold";
  width: 80px;
  height: 25px;
  padding-top: 5px;
  text-align: center;
  border-radius: 5px;
  z-index: 5;
}
article .article__organisation .restaurant__vignette__card a {
  width: 100%;
  height: 70%;
  margin-top: -30px;
}
article .article__organisation .restaurant__vignette__card a img {
  width: 100%;
  height: 100%;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}
article .article__organisation .restaurant__vignette__card .restaurant__vignette__text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px 0 10px;
  height: 20%;
}
article .article__organisation .restaurant__vignette__card .restaurant__vignette__icone i {
  font-size: 1.1em;
  position: relative;
  cursor: pointer;
  opacity: 1;
  top: 15px;
}
article .article__organisation .restaurant__vignette__card .restaurant__vignette__icone svg {
  position: relative;
  cursor: pointer;
  opacity: 0;
  bottom: 7px;
  right: 2px;
}
article .article__organisation .restaurant__vignette__card .restaurant__vignette__icone:hover i {
  animation-name: heart-fading--light;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}
article .article__organisation .restaurant__vignette__card .restaurant__vignette__icone:hover svg {
  animation-name: heart-fading--full;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
article .article__organisation .restaurant__vignette__card .restaurant__vignette__icone:active {
  animation-name: animation__active--full;
  animation-duration: 100ms;
  animation-fill-mode: both;
}
article .article__organisation .restaurant__vignette__withoutcard {
  width: 100%;
  min-width: 300px;
  max-width: 400px;
  height: 200px;
  display: flex;
  margin: 15px;
  flex-direction: column;
  box-sizing: content-box;
  padding: 0;
  border-radius: 15px;
  box-shadow: 5px 5px 15px -2px rgba(0, 0, 0, 0.2);
  background-color: white;
  border: none;
}
article .article__organisation .restaurant__vignette__withoutcard a {
  width: 100%;
  height: 70%;
}
article .article__organisation .restaurant__vignette__withoutcard a img {
  width: 100%;
  height: 100%;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}
article .article__organisation .restaurant__vignette__withoutcard .restaurant__vignette__text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px 0 10px;
  height: 20%;
  height: 20%;
}
article .article__organisation .restaurant__vignette__withoutcard .restaurant__vignette__icone i {
  font-size: 1.1em;
  position: relative;
  cursor: pointer;
  opacity: 1;
  top: 15px;
}
article .article__organisation .restaurant__vignette__withoutcard .restaurant__vignette__icone svg {
  position: relative;
  cursor: pointer;
  opacity: 0;
  bottom: 7px;
  right: 2px;
}
article .article__organisation .restaurant__vignette__withoutcard .restaurant__vignette__icone:hover i {
  animation-name: heart-fading--light;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}
article .article__organisation .restaurant__vignette__withoutcard .restaurant__vignette__icone:hover svg {
  animation-name: heart-fading--full;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
article .article__organisation .restaurant__vignette__withoutcard .restaurant__vignette__icone:active {
  animation-name: animation__active--full;
  animation-duration: 100ms;
  animation-fill-mode: both;
}

/*# sourceMappingURL=style.css.map */
