@font-face {
  font-family: "Roboto--Bold";
  src: url(sass/base/Police/Roboto-Bold.ttf);
}
@font-face {
  font-family: "Roboto--Thin";
  src: url(sass/base/Police/Roboto-Thin.ttf);
}
@font-face {
  font-family: "Roboto--Medium";
  src: url(sass/base/Police/Roboto-Medium.ttf);
}
@font-face {
  font-family: "Shrikhand";
  src: url(sass/base/Police/Shrikhand-Regular.otf);
}
@font-face {
  font-family: "Roboto--Light";
  src: url(sass/base/Police/Roboto-Light.ttf);
}
/* Variable couleur */
/* Charte graphique color */
/* background */
/* HEADER REUTILISABLE */
header {
  display: flex;
  width: 100%;
}
header a {
  margin: auto auto auto 6%;
}
header h1 {
  font-family: "Shrikhand";
  text-align: center;
  width: 100%;
  margin: 10px 0 10px -6%;
}

/* FOOTER REUTILISABLE */
footer {
  background-color: #3E3E3E;
  color: white;
}
footer h1 {
  font-family: "Shrikhand";
  font-size: 100%;
  padding: 15px 0 10px 15px;
}
footer ul {
  font-family: "Roboto--Thin";
  list-style: none;
  padding: 0 0 15px 15px;
}
footer ul li a {
  text-decoration: none;
  color: white;
}
footer ul li i {
  margin: 0 5px 0 0;
  width: 20px;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

h1 {
  font-family: "Roboto--Bold";
}

h2 {
  font-family: "Roboto--Medium";
  font-size: 95%;
}

h3 {
  font-family: "Roboto--Medium";
  font-size: 95%;
}

h4 {
  font-family: "Roboto--Thin";
  font-size: 95%;
}

p {
  font-family: "Roboto--Light";
  font-size: 80%;
  font-weight: 400;
}

/* SECTION */
/* Barre localisation */
.localisation {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 50px;
  width: 100%;
  background-color: #E5E5E5;
  box-shadow: inset 0px 5px 6px -5px black;
}
.localisation h3 {
  font-size: 90%;
}
.localisation h3 i {
  padding: 0 10px 0 0;
  size: 50%;
}

/* INFORMATION */
.section__information {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  height: 200px;
  width: 100%;
  background-color: #F0F0F0;
  padding: 25px 0 25px 0;
}
.section__information h1 {
  display: flex;
  width: 70%;
}
.section__information h4 {
  width: 70%;
}
.section__information button {
  width: 200px;
  height: 40px;
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border-radius: 25px;
  color: white;
  border: none;
  box-shadow: 5px 5px 15px -2px rgba(0, 0, 0, 0.2);
  font-family: "Roboto--Medium";
}

/* ASIDE */
aside {
  display: flex;
  flex-direction: column;
  margin: 20px 0 20px 0;
}
aside h1 {
  width: 100%;
  padding-left: 15px;
  margin: 5px;
}
aside .fonctionnement {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 5px;
}
aside .fonctionnement .fonctionnement__row {
  display: flex;
  align-items: center;
  width: 95%;
  height: 50px;
  margin: 5px;
  border-radius: 15px;
  box-shadow: 5px 5px 15px -2px rgba(0, 0, 0, 0.2);
  background-color: #F0F0F0;
  border: none;
}
aside .fonctionnement .fonctionnement__row p {
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: space-around;
  padding: 1px;
  margin-left: -5px;
  border-radius: 15px;
  background-color: #9356DC;
  color: white;
}
aside .fonctionnement .fonctionnement__row i {
  width: 10%;
  display: flex;
  justify-content: center;
}
aside .fonctionnement .fonctionnement__row h2 {
  width: 80%;
  margin: 15px;
}

article {
  background-color: #F0F0F0;
}
article h1 {
  width: 100%;
  padding-left: 15px;
}
article .article__organisation {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
article .vignette__restaurant {
  min-width: 300px;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  box-sizing: content-box;
  flex-direction: column;
  margin: 2%;
  padding: 0;
  border-radius: 15px;
  box-shadow: 5px 5px 15px -2px rgba(0, 0, 0, 0.2);
  background-color: white;
  border: none;
}
article .vignette__restaurant img {
  object-fit: cover;
  width: 100%;
  max-width: 400px;
  min-width: 300px;
  height: 75%;
  border-radius: 18px 18px 0 0;
}
article .vignette__restaurant .vignette__restaurant__text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px 0 10px;
  height: 20%;
}

/*# sourceMappingURL=style.css.map */
