
/* Variable couleur */

/* Charte graphique color */

$primaire-color: #9356DC;
$secondaire-color: #FF79DA;
$tertaire-color: #99E2D0;


/* background */ 

$light-background: #F6F6F6;
$dark-background: #CECECE;
$white-background:white;

