


@keyframes apparition__top {
    0% {
        transform: translateY(30px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


@keyframes runing_page {
    0% {
        opacity: 1;
    }

    50% {

    }

    100% {

        opacity: 0;
    }

}

@keyframes animation__active__full {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    90% {
        transform: scale(95%);
    }
    100% {
        transform: scale(1);
    }
}


@keyframes heart-fading--full {
    from {
      transform: scale(0);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }

  @keyframes heart-fading--light {
      from {
        transform: scale(1);
        opacity: 1;
      }
      to {
        transform: scale(0);
        opacity: 0;
      }
  }