/* KEYFRAMES APPARITION */

@keyframes apparition__top {
    0% {
        transform: translateY(30px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes apparition__restaurant__left {
    0% {
        transform: translateX(-30px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes apparition__restaurant__right {
    0% {
        transform: translateX(30px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* KEYFRAMES HEART ANIMATION */ 

@keyframes heart-fading--full {
    from {
      transform: scale(0);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }

  @keyframes heart-fading--light {
      from {
        opacity: 1;
      }
      to {
        opacity: 0;
      }
  }

  @keyframes animation__active--full {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    90% {
        transform: scale(95%);
    }
    100% {
        transform: scale(1);
    }
}