/* KEYFRAMES APPARITION */

@keyframes apparition__top {
    0% {
        transform: translateY(30px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes apparition__restaurant__left {
    0% {
        transform: translateX(-30px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes apparition__restaurant__right {
    0% {
        transform: translateX(30px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* KEYFRAMES HEART ANIMATION */ 

@keyframes heart-fading--full {
    from {
      transform: scale(0);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }

  @keyframes heart-fading--light {
      0% {
        opacity: 1;
      }
      50% {
        opacity: 1;
      }
      100% {
          opacity: 0;
      }
  }

  @keyframes heart-fading--full {
    0% {
        transform: scale(0);
        opacity: 0;
    }
      100% {
        transform: scale(1);
          opacity: 1;
      }
  }

  @keyframes animation__active--full {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    90% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1);
    }
}

/* ANIMATION LOADER */

@keyframes jump__shadow {
    33% {
      text-shadow: 0 30px $secondaire-color, 0 60px $tertaire-color;
    }
    50% {
      transform: translate(0, 0) rotate(-4deg);
      text-shadow: 0 0px $tertaire-color, 0 0px $primaire-color;
    }
    67% {
      text-shadow: 0 -30px $primaire-color, 0 -60px $secondaire-color;
    }
  }

 @keyframes loader__sortie {
     0% {
         z-index: 10;
         height: 100%;
         opacity: 1;
     }
     100% {

         height: 0%;
         opacity: 0;
         z-index: -1;
     }
 }