
/* Variable couleur */

/* Charte graphique color */

$primaire-color: #9356DC;
$secondaire-color: #FF79DA;
$tertaire-color: #99E2D0;


/* background */ 

$light-background: #F0F0F0;
$dark-background: #E5E5E5;
$white-background:white;
$black-background :#3E3E3E;

