@font-face {
    font-family: 'Roboto--Bold';
    src: url(base/Police/Roboto-Bold.ttf);
}
@font-face {
    font-family: 'Roboto--Thin';
    src: url(base/Police/Roboto-Thin.ttf);
}
@font-face {
    font-family: 'Roboto--Medium';
    src: url(base/Police/Roboto-Medium.ttf);
}
@font-face {
    font-family: 'Shrikhand';
    src: url(base/Police/Shrikhand-Regular.otf);
}
@font-face {
    font-family: 'Roboto--Light';
    src: url(/base/Police/Roboto-Light.ttf);
}